<h1>Kullanıcılar</h1>
<hr>

<div class="container">
<table class="table table-hover">
    <thead>
        <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Kullanıcı Adı</th>
        <th>E-mail</th>
        <th>WebSite</th>
        </tr>
    <tbody>
    <%for(var i=0;i<kullanicilar.length;i++){%>
        <tr>
        <th><%=kullanicilar[i].id%></th>
        <th><%=kullanicilar[i].name%></th>
        <th><%=kullanicilar[i].username%></th>
        <th><%=kullanicilar[i].email%></th>
        <th><%=kullanicilar[i].website%></th>
        <th><a href="/login/kullanicisil/<%=kullanicilar[i].username%>">Sil</a></th>
        </tr>
    <%}%>    
    <thead>        
    </tbody>
</thead>
</table>
<a href="/jsonKullanicilari/albums">
<button  style="float: right;" class="btn btn-primary">Fotoğraflar İçin Tıkla</button>
</a>
</div>